body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  background: #0f172a;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
}

.layout {
  display: flex;
}

.content {
  padding: 20px;
  flex: 1;
  background: #f1f5f9;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  height: 500px;
}

.map {
  height: 100%;
}

.cctv {
  background: white;
  padding: 10px;
}

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2563eb, #1e3a8a);
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
}
